
<div class="container">
    <div class="card card-login mx-auto mt-5">
      <div class="card-header">Login</div>
      <div class="card-body">
        <form >
          <div class="form-group">
            <div class="form-label-group">
              <input [(ngModel)] = "email" name = "email"  type="email" id="inputEmail" class="form-control" placeholder="Enter Email address" required="required" autofocus="autofocus">
              <label for="inputEmail">Email address</label>
            </div>
          </div>
          <div class="form-group">
            <div class="form-label-group">
              <input [(ngModel)] = "password" name = "password"  type="password" id="inputPassword" class="form-control" placeholder="Enter Password" required="required">
              <label for="inputPassword">Password</label>
            </div>
          </div>
          <div class="form-group row">
            <div class="checkbox col">
              <label>
                <input type="checkbox" value="remember-me">
                Remember Password
              </label>
            </div>
              <img *ngIf = "userService.checking === true" id = "checking" style = "height: 50px; width : 50px" class="img-responsive" src = "assets/Images/loading.gif"/>
          </div>
          <a class="btn btn-primary btn-block" (click) = " tryLogIn()">Login</a>
        </form>
        <div class="text-center">
          <a class="d-block small" [routerLink]= "['/reset']">Forgot Password?</a>
        </div>
      </div>
    </div>
    <!-- <button id="myBtn">Open Modal</button> -->
    <div id="myModal" class="modal">
    
        <div class="modal-content">
            <div class="modal-header">
              <span class="close">&times;</span>
              <h2>Unrecognised Details</h2>
            </div>
            <div class="modal-body">
              <p>Invalid email or password.</p>
              <p>Please try again.</p>
            </div>
            <!-- <div class="modal-footer">
              <h3>Modal Footer</h3>
            </div> -->
          </div>
    
    </div>
  </div>
