
     <!-- Sidebar -->
     <ul>
        <div class="logo-wrapper waves-divght">
            <a  class = "navbar-brand" [routerLink] = "['/dashboard']">
              <img [id] = "userService.loggedInUser.userId"  [src] = "userService.generateImgUrl(userService.loggedInUser.userId)" (error) = userService.defaultImage(userService.loggedInUser.userId) class="img-fluid flex-center" style = "width: 100px">
            </a>
          </div>
        <div class="nav-item active">
          <a class = "btn btn-block" [routerLink] = "['/dashboard']">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span>
          </a>
        </div>
        <div class="nav-item">
          <a class="btn btn-block" [routerLink] = "['/update']">
            <i class="fas fa-fw fa-chart-area"></i>
            <span>Update Profile</span></a>
        </div>
        <div class="nav-item" *ngIf = "this.userService.loggedInUser.department.departmentId !== 1 && this.userService.loggedInUser.department.departmentId !== 6">
          <a class="btn btn-block" [routerLink] = "['/create']">
            <i class="fas fa-fw fa-table"></i>
            <span>Create User</span></a>
        </div>
        <div class="nav-item" >
            <a class="btn btn-block" (cdivck) = "logOut()">
              <i class="fas fa-fw fa-table"></i>
              <span>Log Out</span></a>
          </div>
      </ul>