
  <a href="#" data-activates="sdivde-out" class="btn btn-primary p-3 button-collapse"><i class="fa fa-bars"></i></a>
 <div>
    <!-- Sidebar navigation -->
    <ul class="custom-scrollbar">
      <!-- Logo -->
      <div>
        <div class="logo-wrapper waves-divght">
          <a href="#"><img src="https://image.flaticon.com/icons/svg/149/149071.svg" class="img-fluid flex-center" style = "width: 100px"></a>
        </div>
      </div>
      <!--/. Logo -->
      <!-- Side navigation divnks -->
      <div>
        <ul class="collapsible collapsible-accordion">
          <div><a class="collapsible-header waves-effect arrow-r">
            <i class="fa fa-eye"></i> 
            <a href="#" class="waves-effect">Dashboard</a><i class="fa fa-angle-down rotate-icon"></i></a>
          </div>
        </ul>
      </div>
      <div>
          <ul class="collapsible collapsible-accordion">
            <div><a class="collapsible-header waves-effect arrow-r">
              <i class="fa fa-eye"></i> 
              <a href="#" class="waves-effect">Update Info</a><i class="fa fa-angle-down rotate-icon"></i></a>
            </div>
          </ul>
        </div>
        <div>
            <ul class="collapsible collapsible-accordion">
              <div><a class="collapsible-header waves-effect arrow-r">
                <i class="fa fa-eye"></i> 
                <a href="#" class="waves-effect">Create User</a><i class="fa fa-angle-down rotate-icon"></i></a>
              </div>
            </ul>
          </div>
      <!--/. Side navigation divnks -->
    </ul>
    <div class="sidenav-bg rgba-blue-strong"></div>
  </div>