<div>
  <div class="cards mx-auto mt-5">
    <div class="card-header"> <h2>{{pageTitle}}</h2></div>
    <div class="card-body">
      <h5>Logged in as {{loggedInUser.firstName}}</h5>
        <app-user-table *ngIf = "this.loggedInUser.department.departmentId !== 1 && this.loggedInUser.department.departmentId !== 1" (load) = "updateCvTable($event)" [loggedInUserDepartment] = "loggedInUser.department.departmentId"></app-user-table>
        <app-cv-table [userId] = "userToSearch" [userName] = "userName"></app-cv-table>
    </div>
  </div>
</div>